@model BlogApp.Models.Entity.Tbl_Post
@{
    ViewBag.Title = "GetPost";
}

<h2>Edit Post</h2>

@using(Html.BeginForm("EditPost","Admin", FormMethod.Post))
{
<div class="form-group">

    @Html.LabelFor(m => m.PostId)
    @Html.TextBoxFor(m => m.PostId, new { @class = "form-control", @ReadOnly = "true" })

    <br />

    @Html.LabelFor(m => m.PostTitle)
    @Html.TextBoxFor(m => m.PostTitle, new { @class = "form-control" })

    <br />

    @Html.LabelFor(m => m.PostContent)
    @Html.TextAreaFor(m=>m.PostContent, new { @class = "form-control", @style = "resize:none; height:300px;" })

    <br />
        
    @Html.LabelFor(m => m.PostImage)
    @Html.TextBoxFor(m => m.PostImage, new { @class = "form-control" })

</div>

<br />

<div>
    <button class="btn btn-primary">Save</button>
</div>
}